*

!.dockerignore
!Dockerfile
!mix.exs
!mix.lock

!assets/
!assets/css/
!assets/css/**
!assets/js/
!assets/js/**
!assets/vendor/
!assets/vendor/**
!assets/tsconfig.json

!config/
!config/config.exs
!config/prod.exs
!config/runtime.exs

!lib/
!lib/**

!priv/
priv/release_test/
!priv/repo/
!priv/repo/migrations/
!priv/repo/migrations/*.exs
priv/repo/migrations/.formatter.exs
priv/repo/seeds.exs
!priv/static/
!priv/static/favicon.ico
!priv/static/robots.txt
!priv/static/images/
!priv/static/images/**

!rel/
!rel/**
